<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
  <link rel="stylesheet" href="/style/navbar.css">
  <link rel="stylesheet" href="/style/signup.css"> 
</head>
<body>
    <%- include('includes/header') %>
    <section class="signup-container">
        <div class="left-section">
            <h1>Something Went Wrong!</h1>
            <p>Unfortuantely, something went wrong - please try again later!</p>
            <p><a class="btn" href="/">Back to satisfy!</a></p>

            <div class="icon">

            </div>
        </div>

    </section>

    <%- include('includes/footer') %>