<%- include('../shared/includes/head', { pageTitle: 'Online-Cart' }) %>
  <link rel="stylesheet" href="/style/home-header.css">
  <link rel="stylesheet" href="/style/form.css">
  <link rel="stylesheet" href="/style/base.css">
</head>
<body>
    <%- include('../shared/includes/home-header') %> 
    <section class="container">
        <div class="catagory">
            <div class="cating-info">
                <div class="cating">
                    <img src="image/29327f40e9c4d26b.webp" alt="">
                </div>
                <div class="catinfo">
                    <p>Grocery</p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/mobile.webp" alt="">
                </div>
                <div class="catinfo">
                    <p>Mobiles</p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/fashion.png" alt="">
                </div>
                <div class="catinfo">
                    <p>Fashion <i class="fa-solid fa-angle-down"></i></p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/electronic.png" alt="">
                </div>
                <div class="catinfo">
                    <p>Electronic <i class="fa-solid fa-angle-down"></i></p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/furniture!.png" alt="">
                </div>
                <div class="catinfo">
                    <p>Home & Furniture<i class="fa-solid fa-angle-down"></i></p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/appliace.webp" alt="">
                </div>
                <div class="catinfo">
                    <p>Appliances</p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/flight.webp" alt="">
                </div>
                <div class="catinfo">
                    <p>Flight Bookings</p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/boys.png" alt="">
                </div>
                <div class="catinfo">
                    <p>Beauty, Toys & More <i class="fa-solid fa-angle-down"></i></p>
                </div>
            </div>

            <div class="cating-info">
                <div class="cating">
                    <img src="image/bike.png" alt="">
                </div>
                <div class="catinfo">
                    <p>Two Wheelers <i class="fa-solid fa-angle-down"></i></p>
                </div>
            </div>
        </div>
    </section>

    <%- include('../shared/includes/footer') %>