<header>
    <div class="logo">
        <a href="/"><img src="/image/signup-logo.png" alt="Flipkart-LOGO"></a>
    </div>

    <div class="searchbar">
        <input type="search" name="" id="" placeholder="Search for products, brands and more">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class="login style">
        <div class="dropdown">
            <button><a href="/login">Login</a></button>
            <div class="dropdown-menu">
                <div class="dropdown-header">
                    New Customer? <a href="/signup">Sign Up</a>
                </div>
                <hr>
                <a href="#"><i class='fas fa-user-circle'></i>My Profile</a>
                <hr>
                <a href="#"><i class="fab fa-first-order"></i>Orders</a>
                <hr>
                <a href="#"><i class="fa-solid fa-heart"></i>Wishlist</a>
            </div>
        </div>
    </div>

    <div class="seller style">
        <span>Become a Seller</span>
    </div>

    <div class="more style">
        <span>More<i class="fa-solid fa-angle-down"></i></span>
    </div>

    <div class="cart style">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Cart</span>
    </div>

</header>