<%- include('../../shared/includes/head', { pageTitle: 'Online-Cart' }) %>
  <link rel="stylesheet" href="/style/home-header.css">
  <link rel="stylesheet" href="/style/base.css">
  <link rel="stylesheet" href="/style/form.css">
  <script src="/script/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/home-header') %> 
       <main>
          <h1>Add new Product</h1>
          <%- include('includes/product-form', { submitPath: '/admin/products', product: {
            title: '',
            summary: '',
            price: '',
            description: ''
          },
          imageRequired: true }) %>
       </main>

    <%- include('../../shared/includes/footer') %>